<configuration>
  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="dist/server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to hello.js node.js application; for example, the following URLs will 
    all be handled by hello.js:
    
        http://localhost/node/express/myapp/foo
        http://localhost/node/express/myapp/bar
 
    <iisnode promoteServerVars="AUTH_USER" />
       
    -->

    <iisnode
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"        
      devErrorsEnabled="true"
     />


    <rewrite>
      <rules>
        <rule name="projects">
          <match url="projects/*" />
          <action type="Rewrite" url="dist/server.js" />
        </rule>
        <rule name="features">
          <match url="features/*" />
          <action type="Rewrite" url="dist/server.js" />
        </rule>
        <rule name="geoanalyzer">
          <match url="geoanalyzer/*" />
          <action type="Rewrite" url="dist/server.js" />
        </rule>
        <rule name="log">
          <match url="log/*" />
          <action type="Rewrite" url="dist/server.js" />
        </rule>
      </rules>
    </rewrite>
	
	<httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="401" />
      <error statusCode="401" errorMode="Detailed"/>
    </httpErrors>
    
    
    
  </system.webServer>
</configuration>
